body{
    background-image: url(john-fowler-RsRTIofe0HE-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    margin: 30px;
} 

img {
    margin: 0 auto;
}
a {
    text-align: center;
}

.jumbotron{
    text-align: center;
    background-color: antiquewhite;
    margin:50px;
    padding: 30px;
    opacity: 0.9;
}
.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.btn{
    margin: 10px;
}
.profile-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}
.achievement{
    text-align:center;
    background-color: antiquewhite;
    opacity: 0.9;
    margin:50px;
    padding: 30px;
}
.lesson{
    background-color: antiquewhite;
    opacity: 0.9;
    margin:50px;
}
.lesson img{
    width: 750px;
    height: 500px;
}
